export ETHERSCAN_API_KEY=""
export CHAIN_ID=97
export RPC_URL="https://data-seed-prebsc-1-s3.binance.org:8545"

export LOGIC_ADDRESS=""
export TIMELOCK_ADDRESS=""
export PROXY_ADDRESS=""
export PROXY_ADMIN_ADDRESS=""
export MULTISIG_ADDRESS=""
export TIMELOCK_MIN_DELAY=86400

export ATTESTOR_1_ADDRESS=""
export ATTESTOR_1_URL=""
export ATTESTOR_2_ADDRESS=""
export ATTESTOR_2_URL=""
export ATTESTOR_3_ADDRESS=""
export ATTESTOR_3_URL=""
